@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050d1a;
  color: #e8f0fe;
  font-family: 'Sora', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050d1a;
}
::-webkit-scrollbar-thumb {
  background: #1a3060;
  border-radius: 3px;
}
